.typeFance {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;

    --size: 80px;
    --img-width: var(--size);
    --img-height: var(--size);
}
.typeFance__item {
    text-align: center;
   color: var(--bg3);
   cursor: pointer;
   opacity: 0.3;
}
.typeFance__item.active {
    opacity: 1;
    position: relative;
    width: var(--img-width);
    height: var(--img-height);
}
.typeFance__img {
    margin-bottom: .5rem;
    display: flex;
    align-items: self-end;
}
.typeFance__img img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 3px solid var(--white);
    border-radius: 50%;

    width: var(--img-width);
    height: var(--img-height);

    box-shadow: 0 0 0 0 !important;
    position: relative;
    padding: 0;
}
.typeFance__title {
    font-weight: 700;
    font-size: 14px;
    position: relative;
    font-weight: 100;
}


.type_fance_variants {
    gap: 2rem;
    max-width: 250px;
    padding-bottom: 2rem;
}
.type_fance_variants__item  {
    opacity: 0.3;
    cursor: pointer;
    transition: .6s;
    position: relative;
}
.type_fance_variants__item:hover {
    opacity: 1;
}
.type_fance_variants__item.active {
    opacity: 1;
    width: var(--img-width);
}
.type_fance_variants img  {
    border: 2px solid #006f3e!important;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 3px solid white;
    border-radius: 100px;
    width: var(--img-width);
    height: var(--img-height);
    box-shadow: 0 0 0 0 !important;
    position: relative;
    padding: 0;
}
.type_fance_variants__label {
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    width: 100%;
    bottom: -50px;
    left: 0;
    min-height: 42px;
    text-align: center;
}


.type_fance__statistic {
    
}
.type_fance__statistic .statistic__params {
    /* flex-wrap: wrap; */
}
.type_fance__statistic .statistic__param {
    /* flex-basis: 100% !important; */
}
.type_fance__statistic .statistic__param:nth-child(2),
.type_fance__statistic .statistic__param:nth-child(3) {
    flex-basis: 100%!important;
}
@media screen and (max-width:768px) {
    .typeFance__img img {
        width: 60px;
        height: 60px;
    }
    .typeFance__img.active img {
        width: 60px;
        height: 60px;
    }
    .typeFance__title i {
        display: none!important;
    }
    .type_fance_variants img {
        width: 100px!important;
        height: 100px!important;
    }
}