.block_item {
    opacity: .3; 
    text-align: center;
    cursor: pointer;
    min-width: 130px;
}
.block_item.active {
    opacity: 1;
    position: relative;
    width: 100px;
}

.block_item__img {
    width: 100%;
}
.block_item__img img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 3px solid var(--white);
    border-radius: 100px;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 0 !important;
    position: relative;
    padding: 0;
    margin-bottom: 5px;
}


.block_item.active img {
    border: 2px solid #006f3e!important;
    width: 100px;
}

.block_item__title {
    font-weight: 700;
    font-size: 14px;
    position: relative;

}
.block_item__title--text {
    padding: 10px 0;
}
.block_item input {
    display: inline-block;
    padding: 0 15px;
    border: 1px solid #d0d0d0;
    width: auto;
    max-width: 105px;
    height: 38px;
    background-color: transparent;
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
    font-weight: 200;
}
@media screen and (max-width: 768px) {
    .Wickets__items  {
        display: flex;
        gap: .2rem!important;
    }
    .block_item {
        min-width: 80px;
        width: 80px;
    }
    .block_item__img img { 
        width: 70px;
        height: 70px;
    }
    .block_item input {
        box-sizing: border-box;
        width: 100%;
    }
}